/*
Theme Name: The Water Trust
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Celso White
Author URI: http://www.celsowhite.com/
Version: 1.0.0
Template: thewatertrust
*/

.shopping_cart_outer{
display:none;
}
.woocommerce-page .shopping_cart_outer{
display:table;
}
.cover_boxes ul li .box .box_content { top: 0; }
.cover_boxes ul li .box .qbutton { margin-top: 18px; }
t
.ls-wp-container .qbutton {
-webkit-transition: none;
-ms-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}

@media only screen and (min-width: 1000px) {
    .page-id-15173 .ls-nav-prev,
    .page-id-15058 .ls-nav-prev,
    .page-id-15173 .ls-nav-next,
    .page-id-15058 .ls-nav-next,
    .page-id-15234 .ls-nav-prev,
    .page-id-15234 .ls-nav-next {
        margin-top: 19px;
    }
}

@media only screen and (max-width: 1000px){
.page-id-15173 .ls-nav-prev,
.page-id-15058 .ls-nav-prev,
.page-id-15173 .ls-nav-next,
.page-id-15058 .ls-nav-next{
		margin-top: -27px;
}

.page-id-15173 .q_slider,
.page-id-15058 .q_slider
{
min-height:100px;
}
}
.side_menu_button a:last-child {
padding: 0 0 0 17px;
}
.page-id-15173 .q_slider,
.page-id-15058 .q_slider
{
min-height:560px;
}
.filter_outer {
margin: -8px 0 31px;
}
.filter_holder ul li span{
font-size:13px;
}

#nav-menu-item-15674 li,
#nav-menu-item-15695 li,
#nav-menu-item-15696 li,
#nav-menu-item-15697 li,
#nav-menu-item-15777 li,
#nav-menu-item-15781 li,
#nav-menu-item-15784 li,
#nav-menu-item-15788 li,
#nav-menu-item-15791 li,
#nav-menu-item-15794 li,
#nav-menu-item-15798 li,
#nav-menu-item-15801 li,
#nav-menu-item-15805 li,
#nav-menu-item-15808 li,
#nav-menu-item-15931 li,
#nav-menu-item-15935 li,
#nav-menu-item-15937 li,
#nav-menu-item-15961 li,
#nav-menu-item-16057 li{
width: 280px;
}

.drop_down .second .inner .widget {
padding-bottom: 15px;
}

.drop_down .second .inner .widget a{
padding: 0px !important;
}

.more_facts_button .more_facts_button_text {
font-size: 19px;
font-weight: 300;
text-transform: none;
}

.q_list.circle ul>li, .q_list.number ul>li {
margin-bottom: 2px;
}

#back_to_top:hover span i {
color: #ffffff;
}

.contact_section .separator {
margin-top: 17px;
margin-bottom: 18px;
}

.carousel .item .text .separator {
margin-top: 21px;
margin-bottom: 22px;
}

.carousel-inner .slider_content .text .qbutton.white { -webkit-backface-visibility: hidden; }

.blog_holder.masonry article .post_text .post_text_inner {
padding-left: 0;
}

.blog_holder article.format-quote .post_text .post_text_inner, .blog_holder.masonry article.format-link .post_text .post_text_inner {
padding-left: 23px;
}
.carousel-inner .slider_content .text .qbutton.white {
margin-left: 0px;
}

.carousel-inner h2 {
letter-spacing: 10px;
}

.projects_holder article .portfolio_description .project_category, .projects_holder.hover_text article .project_category {
font-family: Georgia, serif;
font-style: italic;
font-weight: 400;
color: #848484;
}

.carousel .item .text .separator.small {
margin-top: 54px;
margin-bottom: 68px;
height: 2px;
}

.testimonials .testimonial_text_inner p {
font-family: Georgia, serif;
font-style: italic;
}

.testimonials_holder .flex-direction-nav li {
margin-top: 27px;
}

.contact_section h4 {
display: none;
}

.social_share_dropdown ul li :hover i {
color: #cdcdcd !important;
}

h5.portfolio_title a:hover {
color: #cdcdcd !important;
}

html {
	-webkit-font-smoothing: antialiased;
}

.content {
margin-top: 0px;
}

.home .content {
margin-top: -131px;
}

.main_header {
text-align: center;
border-top: 1px solid;
border-bottom: 1px solid;
padding: 10px 0px;
margin: 0px auto 30px;
font-size: 20px;
}

.video_player {
border: 25px solid #DCDDDE;
border-radius: 3px;
}

.video_player_smaller {
border: 13px solid #DCDDDE;
border-radius: 3px;
}

/*== General Typography ===*/

/*=== Proxima Sans New ===*/

@font-face{ 
	font-family: 'ps-regular';
	src: url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansregular-webfont.eot');
	src: url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansregular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansregular-webfont.woff') format('woff'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansregular-webfont.ttf') format('truetype'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansregular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'ps-medium';
	src: url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansmedium-webfont.eot');
	src: url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansmedium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansmedium-webfont.woff') format('woff'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansmedium-webfont.ttf') format('truetype'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansmedium-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'ps-black';
	src: url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansblack-webfont.eot');
	src: url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansblack-webfont.eot?#iefix') format('embedded-opentype'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansblack-webfont.woff') format('woff'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansblack-webfont.ttf') format('truetype'),
	     url('https://watertrust.org/wp-content/themes/thewatertrust-child/fonts/proximasansblack-webfont.svg#webfont') format('svg');
}

p , body{
font-family: 'Sentinel A', 'Sentinel B'; 
font-weight: 400; 
font-style: normal;
}

p {
margin-bottom: 20px;
margin-top: 0px;
}

h1, h2  {
font-family: "ps-medium";
}

h3, h4, h5, h6 {
font-family: "ps-regular";
}

h2.secondary_header {
border-top: 1px solid;
border-bottom: 1px solid;
padding: 10px 0px;
margin-bottom: 20px !important;
}

.home h2.secondary_header {
border-top: 1px solid;
border-bottom: 1px solid;
padding: 10px 0px;
margin-bottom: 20px;
text-align: center;
}

.header_with_subtitle {
border-top: 1px solid;
border-bottom: 1px solid;
text-align: left;
padding: 20px 200px 0px 0px;
margin-bottom: 20px;
}

@media all and (max-width: 768px) {
.header_with_subtitle {
padding: 20px 0px 10px 0px;
}
}

.header_over_image {
margin-bottom: 30px;
color: #ffffff;
}

.tabs-nav li {
font-family: 'ps-regular';
}

/*=== Buttons ===*/

a.primary_button {
padding: 13px 40px;
background: #378BCA;
border-radius: 3px;
margin-top: 30px;
position: relative;
display: inline-block;
text-align: center;
color: #fff;
font-family: 'ps-regular';
text-transform: uppercase;
word-spacing: 3px;
-webkit-transition: .5s all ease-in-out;
-moz-transition: .5s all ease-in-out;
transition: .5s all ease-in-out;
}

a.primary_button:hover {
background: #dcddde;
color: #ffffff !important;
}

a.secondary_button {
padding: 13px 40px;
background: transparent;
border-radius: 3px;
margin-top: 30px;
position: relative;
display: inline-block;
text-align: center;
color: #939598;
font-family: 'ps-regular';
text-transform: uppercase;
word-spacing: 3px;
-webkit-transition: .5s all ease-in-out;
-moz-transition: .5s all ease-in-out;
transition: .5s all ease-in-out;
border: 1px solid #939598;
}

a.secondary_button:hover {
background: rgba(255,255,255,.4);
}

a.tertiary_button {
padding: 13px 40px;
background: transparent;
border-radius: 3px;
margin-top: 20px;
position: relative;
display: inline-block;
text-align: center;
color: #ffffff;
font-family: 'ps-regular';
text-transform: uppercase;
word-spacing: 3px;
-webkit-transition: .5s all ease-in-out;
-moz-transition: .5s all ease-in-out;
transition: .5s all ease-in-out;
border: 3px solid #ffffff;
}

a.tertiary_button:hover {
background: rgba(255,255,255,.4);
}

a.blog_button {
padding: 13px 40px;
border: 1px solid #000000;
border-radius: 3px;
display: block;
position: relative;
text-align: center;
color: #939598;
font-family: 'ps-regular';
text-transform: uppercase;
word-spacing: 3px;
-webkit-transition: .5s all ease-in-out;
-moz-transition: .5s all ease-in-out;
transition: .5s all ease-in-out;
}

a.blog_button:hover {
background: rgba(255,255,255,.4);
}

.qbutton.small, .qbutton {
font-size: 13px;
font-family: 'ps-regular';
border-radius: 3px;
letter-spacing: 1px;
}

/*=== Images Across Site ===*/

/*=== Position background images in pages to top ===*/
.background_image_top {
background-position: top !important;
}

.big_stat {
color: #ffffff;
font-size: 60px;
font-family: 'Sentinel A', 'Sentinel B';  
font-weight: 700; 
font-style: normal;
}

.stat_description {
color: #ffffff;
font-size: 18px;
}

/*== Social ==*/

.social {
margin-bottom: 20px;
}

.social i {
    margin-right: 15px;
}

/*===Navigation===*/

.header_top {
padding: 0px 45px;
background: transparent;
}

.header_top .container_inner.clearfix {
width: 100%;
}

.header_top #searchform input[type="text"] {
background: #DCDDDE;
height: 34px;
color: #000;
font-size: 14px;
padding: 2px 10px;
}

.header_top #searchform input[type="submit"] {
margin: 0px;
background: #1B1B3B;
width: 30px;
display: inline-block;
height: 38px;
margin-left: -23px;
color: #ffffff;
}

a.header_donate {
background: rgb(205,85,41);
padding: 13px 20px;
color: #fff;
border-radius: 3px;
font-size: 16px;
font-family: "ps-black";
font-weight: normal;
font-style: normal;
text-transform: uppercase;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}

a.header_donate:hover {
background: #939598;
color: #ffffff !important;
}
/*=== strange firefox header fix ===*/
.header_inner_right {
    clear: right;
}

@media all and (min-width: 1000px) {
.q_logo {
top: 20%;
z-index: 200;
}

.q_logo img {
width: 250px !important;
height: auto !important;
}
}

@media all and (max-width: 1000px) {
.header_top {
display: none !important;
}
}

nav.main_menu ul li {
font-family: "ps-regular";
font-weight: normal;
font-style: normal;
}

nav.main_menu > ul > li:hover  > a {
    color: #378BCA;
    background: none;
}

/*=== Subtle Background Pattern for site sections ===*/

.subtle_background_pattern{
background-image: url(https://watertrust.org/wp-content/uploads/2014/10/subtle_grunge-125x125.png);
background-repeat: repeat !important;
background-position: 0 0 !important;
background-size: inherit !important;
}

/*=== Homepage ===*/

h4.q_slide_subtitle span {
font-family: 'Sentinel A', 'Sentinel B'; 
font-weight: 400; 
font-style: normal;
color: #fff;
}

@media all and (max-width: 480px) {
h4.q_slide_subtitle {
font-size: 18px;
line-height: 18px;
}
}

.homepage_stat_container {
  display: block;
  text-align: center;
  margin-bottom: 20px !important;
}

.homepage_stat_top {
  position: relative;
  background: #378BCA;
  color: #ffffff;
  padding: 37px;
}

.homepage_stat_bottom {
  position: relative;
  background: #1B1B3B;
  color: #ffffff;
  padding: 37px;
}

.homepage_stat_top h2, .homepage_stat_bottom h2 {
  font-size: 60px;
  font-family: 'Sentinel A', 'Sentinel B'; 
  font-weight: 700; 
  font-style: normal;
  color: #ffffff;
}

.homepage_stat_top p, .homepage_stat_bottom p {
  color: #ffffff;
}

/*===Homepage Featured Content===*/

.homepage_featured_box {
margin-bottom: 20px !important;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-webkit-flex: 1 0 auto;
-ms-flex: 1 0 auto;         
flex: 1 0 auto;
}

.homepage_featured_image {
    height: 250px;
    background-size: cover;
}

.homepage_featured_image img {
	width: 100%;
}

.homepage_featured_text {
background: #fff;
padding: 20px;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-webkit-flex: 1 0 auto;
-ms-flex: 1 0 auto;         
flex: 1 0 auto;
}

.homepage_featured_text p {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;         
	flex: 1 0 auto;
}

.homepage_featured_text h2 {
margin-bottom: 10px;
}

a.qbutton.medium.center {
margin-top: 30px;
}

/*== ABOUT PAGE ICONS ===*/
.twt_icon_with_title {
	display: block;
	position: relative;
       margin-bottom: 20px;
       clear: both;
}

.twt_icon_holder {
	float: left;
	display: inline-block;
	position: relative;
	z-index: 2;
	width: 100px;
}

.twt_icon_text_holder {
	position: relative;
	padding: 0 0 0 110px;
}

.twt_icon_text_inner {
	padding: 0 0 18px;
}

/*=== Video Embeds for Home and About ===*/

.home .wpb_video_widget .wpb_wrapper .wpb_video_wrapper , .page-id-16016 .wpb_video_widget .wpb_wrapper .wpb_video_wrapper {
padding-top: 0;
}

.arve-wrapper {
margin-bottom: 0px;
}

/*=== Why Water ===*/

.whywater_container {
  display: block;
}

.whywater_top {
position: relative;
background: #378BCA;
display: block;
overflow: hidden;
padding: 20px;
}

.whywater_bottom {
position: relative;
display: block;
background: #1B1B3B;
overflow: hidden;
padding: 20px;
}

.whywater_box {
width: 50%;
float: left;
position: relative;
color: #ffffff;
}

.whywater_box h2 {
  color: #ffffff;
  font-family: 'Sentinel A', 'Sentinel B'; 
  font-weight: 700; 
  font-style: normal;
  font-size: 40px;
}

.whywater_box p {
padding-right: 20px;
color: #ffffff;
}

.why_water_middle_image {
background-image:url(https://watertrust.org/wp-content/uploads/2014/11/whywater_middle.jpg);
}

.why_water_bottom_image {
background-image:url(https://watertrust.org/wp-content/uploads/2014/11/whywater_bottom2.jpg); 
}

@media all and (max-width: 480px) {
.whywater_box {
width: 100%;
clear: both;
}
}

/*=== Reports ===*/

.reports_container {
  display: block;
}

.reports_container p {
color: #fff;
font-size: 20px;
margin-bottom: 0px;
}

.reports_top {
  position: relative;
  background: #378BCA;
  color: #ffffff;
  padding: 30px 0px 50px;
  text-align: center;
}

.reports_top h2 {
  font-size: 50px;
  color: #ffffff;
  font-family: 'Sentinel A', 'Sentinel B'; 
  font-weight: 700; 
  font-style: normal;
}

.reports_bottom {
  position: relative;
  background: #1B1B3B;
  color: #ffffff;
  display: block;
  overflow: hidden;
}

.reports_bottom_text {
  width: 50%;
  text-align: center;
  float: left;
  position: relative;
  display: block;
  padding: 50px 0px;
}

.reports_bottom_text h2 {
 color: #ffffff;
 font-family: 'Sentinel A', 'Sentinel B'; 
  font-weight: 700; 
  font-style: normal;
  font-size: 30px;
}

.individual_reports_container li {
list-style: none;
}

.reports_list li {
list-style: none;
}

.wpb_wrapper.center {
text-align: center;
}

/*=== ALL REPORTS ===*/

ul.reports_list_full {
display: block;
margin-bottom: 20px;
list-style: none;
overflow: auto;
}

ul.reports_list_full li {
float: left;
display: inline-block;
width: 50%;
}

@media all and (max-width: 480px) {
ul.reports_list_full li {
width: 100%;
}
}

/*=== General Title Area ===*/

.title_subtitle_holder {
padding-top: 0px !important;
}

.title.title_size_large h1 {
font-size: 45px;
}

.subtitle {
padding: 10px 0px 0px;
}

@media all and (max-width: 480px) {
.subtitle {
display: none;
}
}

/*=== Page container for pages with no header image ===*/

.page-id-16679 .title_subtitle_holder_inner, .single-projects .title_subtitle_holder_inner, .single-portfolio_page .title_subtitle_holder_inner, .page-id-178 .title_subtitle_holder_inner, .page-id-16899 .title_subtitle_holder_inner, .page-id-16773 .title_subtitle_holder_inner, .search .title_subtitle_holder_inner, .page-id-17926 .title_subtitle_holder_inner, .woocommerce-page .title_subtitle_holder_inner, .page-id-19157 .title_subtitle_holder_inner {
position: relative;
border-top: 1px solid #000;
border-bottom: 1px solid #000;
padding: 20px 0px 20px;
color: #000000 !important;
}

.content .container .container_inner.default_template_holder, .content .container .container_inner.page_container_inner {
padding-top: 0px;
}

.search .content .content_inner .container:nth-child(2), .page-id-1868 .content .content_inner .container:nth-child(2), .single-post .content .content_inner .container:nth-child(2), .page-id-16773 .content .content_inner .container, .page-id-16679 .content .content_inner .container, .category .content .content_inner .container:nth-child(2), .tag .content .content_inner .container:nth-child(2), .page-id-17926 .content .content_inner .container, .single-job .content .content_inner .container, .woocommerce .content .content_inner .container, .page-id-178 .content .content_inner .container, .woocommerce-cart .content .content_inner .container, .woocommerce-checkout .content .content_inner .container, .single-portfolio_page .content .content_inner .container, .single-projects .content .content_inner .container, .page-id-16899 .content .content_inner .container, .page-id-19157 .content .content_inner .container {
background-image: url('https://watertrust.org/wp-content/uploads/2014/10/subtle_grunge-125x125.png');
background-repeat: repeat;
}

.single-projects .content .container .container_inner.default_template_holder, .single-projects .content .container .container_inner.page_container_inner, .page-id-1868 .content .container .container_inner.default_template_holder, .page-id-1868 .content .container .container_inner.page_container_inner, .single-job .content .container .container_inner.page_container_inner {
padding-top: 50px;
}

/*=== Our Projects Page ===*/

#map img {
max-width: inherit;
}

.page-id-16773 select {
background: #dcddde;
border: medium none;
font-size: 15px;
height: 40px;
margin-bottom: 10px;
padding: 0 10px;
width: 100%;
color: #000000;
font-family: 'ps-regular';
font-weight: 400;
font-style: normal;
text-transform: uppercase;
letter-spacing: 1px;
}

input#s {
width: 55%;
padding: 8px 10px;
font-size: 16px;
margin-right: 2px;
font-family: 'Sentinel A', 'Sentinel B'; 
font-weight: 400; 
font-style: normal;
margin-bottom: 20px;
}

input#searchsubmit {
width: 35%;
background: #378bca;
border: 0;
border-radius: 3px;
color: #fff;
font-size: 15px;
padding: 10px 0px;
font-family: 'ps-regular';
font-weight: 400;
font-style: normal;
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 20px;
}

#searchform ::-webkit-input-placeholder {
color: #000;
}

#searchform ::-moz-placeholder {
color: #000;
}

#searchform :-moz-placeholder {
color: #000;
}

#searchform ::-ms-input-placeholder {
color: #000;
}

@media all and (max-width: 998px) and (min-width: 768px) {
input#s, input#searchsubmit {
width: 80%;
}
}

.featured_project_container {
margin-bottom: 50px;
}

.featured_project_info {
background: rgb(255, 255, 255);
padding: 10px;
margin-top: -10px;
}

/*=== Project Page ===*/

.project_header {
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
padding: 10px 0px;
margin-bottom: 20px;
}

.project_header h1 {
color: #000000;
text-transform: uppercase;
}

.single-projects .title.title_size_large h1 {
color: #000;
}

.single-projects h2.secondary_header {
font-size: 15px;
}

.project_indicator {
width: 100%;
margin-bottom: 20px;
}

/*== styling the accordian===*/

.q_accordion_holder.accordion.boxed .ui-accordion-header {
text-align: left;
padding: 10px;
background-color: #dcddde;
margin-bottom: 20px;
}

.q_accordion_holder.boxed div.accordion_content {
padding-left: 0px;
}

.q_accordion_holder.boxed div.accordion_content_inner {
padding-top: 0px;
}

.project_video_player {
border: 25px solid #DCDDDE;
margin-bottom: 20px;
border-radius: 3px;
}

@media all and (max-width: 480px) {
.project_video_player {
border: 0px;
}
}

/*=== Stories Homepage ===*/

span.project_category {
display: none !important;
}

/*=== Individual Story ===*/

.portfolio_single_text_holder p:first-child {
margin-top: 0px;
}

.single-portfolio_page h2.secondary_header {
font-size: 15px;
}

.info.portfolio_categories {
display: none;
}

.portfolio_single_text_holder .wp-caption {
width: 100% !important;
display: block;
}

p.wp-caption-text {
background: #fff;
padding: 10px;
margin-top: -10px;
}

/*=== Shop ===*/
form.woocommerce-ordering {
display: none;
}

p.woocommerce-result-count {
display: none;
}

.cartcontents:nth-of-type(1) {
display: none !important;
}

/*=== Product Page ===*/

.product_meta span.sku_wrapper {
display: none !important;
}

.woocommerce td.label {
padding: 0px;
}

/*=== Contact ===*/

.page-id-1452 .content .container .container_inner.default_template_holder, .page-id-1452 .content .container .container_inner.page_container_inner {
padding: 50px 0px;
}

.contact_form h5 {
display: none;
}

/*=== DONATE ===*/

p.donation_type_text {
height: 100px;
}


a.primary_button_donate {
padding: 13px 40px;
background: rgb(205,85,41);
border-radius: 3px;
margin-top: 30px;
position: relative;
display: inline-block;
text-align: center;
color: #fff;
font-family: 'ps-regular';
text-transform: uppercase;
word-spacing: 3px;
-webkit-transition: .5s all ease-in-out;
-moz-transition: .5s all ease-in-out;
transition: .5s all ease-in-out;
}

a.primary_button_donate:hover {
background: #dcddde;
color: #ffffff !important;
}

/*== DONATION FORM ===*/

.gform_wrapper {
margin: 10px 0;
max-width: 100%;
background: rgb(27, 27, 59);
padding: 30px;
}

@media all and (max-width: 600px) {
.gform_wrapper {
padding: 0px;
}
}

.gform_wrapper .gform_heading {
width: 100% !important;
background: #378BCA;
color: #ffffff;
text-align: center;
padding: 20px 0px;
margin-bottom: 0px !important;
}

span.gform_description {
padding: 0px 30px;
display: block;
}

.gform_wrapper .gsection {
border-bottom: 1px solid #000000 !important;
padding: 10px 0px !important;
border-top: 1px solid #000;
}

h2.gsection_title {
font-family: 'ps-regular';
}

h3.gform_title {
width: 100% !important;
font-size: 30px !important;
color: #fff;
}

ul#gform_fields_1, ul#gform_fields_2 {
background: #dcddde;
padding: 20px;
}

.gform_wrapper ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li {
padding: 0 !important;
display: inline-block;
margin-right: 20px;
font-size: 16px;
}

.gsection_description {
font-family: 'Sentinel A', 'Sentinel B' !important;
font-size: 14px !important;
}

/*Final donation price*/
.gform_wrapper span.ginput_total {
color: #000 !important;
font-size: 25px !important;
}

/*Bottom of form*/
.gform_footer.top_label {
text-align: center;
}

input#gform_submit_button_1, input#gform_submit_button_2 {
background: #ffffff;
height: 80px;
padding: 20px 100px;
font-family: 'ps-medium';
border: none;
}

input#gform_submit_button_1:hover, input#gform_submit_button_2:hover {
background: #378BCA;
color:#ffffff;
border: none;
}

/*=== Our Team ===*/

.ajax_project {
background: #fff;
}

.ajax_project > .project_description > h2.title {
border-top: 1px solid;
border-bottom: 1px solid;
height: auto;
padding: 10px 0px;
}

.ajax_project > .project_media {
width: 35%;
}

.sort_style_links .sort_by_cat .sort_list > li a {
border-radius: 3px;
border: none;
font-family: 'ps-regular';
}

.sort_style_links .sort_by_cat .sort_list > li a:hover, .sort_style_links .sort_by_cat .sort_list > li a.active_sort {
background-color: #378bca;
border-color: #378bca;
}

/*=== Colio Customizations ===*/

span.colio-date {
display: none !important;
}

.colio-theme-white .colio-container {
padding-bottom: 0px !important;
}

.colio .flexslider {
height: auto !important;
}

.colio-side .slides {
width: 100% !important;
}

.colio-side .flex-control-nav, .colio-side .flex-direction-nav {
display: none !important;
}

.colio-list .colio-thumb {
  height: 200px;
  outline: none !important;
  border: none;
}

.colio-list .colio-thumb img {
  height: 100%;
  width: auto !important;
  overflow: hidden;
  vertical-align: bottom !important;
  max-width: none;
}

.colio-wrap .colio-filters a {
padding: 10px 15px;
color: #fff;
background-color: #378bca;
text-shadow: none;
}

/*===GET INVOLVED===*/

.header_top_line {
border-top: 1px solid #000000;
padding: 10px 0px 10px;
}

.get_involved_bullets li {
list-style: none;
border-bottom: 1px solid #e1e1e1;
padding: 10px 0px;
}

/*=== Blog ===*/

.blog_holder article {
display: inline-block;
width: 100%;
margin: 0 0 30px;
}

/*=== Sidebar ===*/

.sidebar h5 {
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
padding: 10px 0px;
}

.sidebar .widget_tag_cloud a {
font-size: 15px !important;
}

/*=== Blog Single Post ===*/

.single-post .content .container .container_inner.default_template_holder, .single-post .content .container .container_inner.page_container_inner, .category .content .container .container_inner.default_template_holder, .category .content .container .container_inner.page_container_inner, .tag .content .container .container_inner.default_template_holder, .tag .content .container .container_inner.page_container_inner  {
padding-top: 130px;
}

.single-post .title.title_size_large h1, .category .title.title_size_large h1, .tag .title.title_size_large h1, .single-job .title.title_size_large h1  {
color: rgb(0, 0, 0);
border-top: 1px solid rgb(0, 0, 0);
border-bottom: 1px solid rgb(0, 0, 0);
margin-top: 40px;
font-size: 20px;
letter-spacing: 1px;
text-align: left;
}

.single-post .blog_holder article .post_text .post_text_inner {
padding: 0px;
}

/*=== Jobs ===*/
.job_posting {
background: #ffffff;
padding: 20px;
margin-bottom: 20px;
}

/*=== Single Jobs ===*/
.portfolio_container {
margin-bottom: 50px;
}

/*=== Search Page ===*/

.search .content .container .container_inner.default_template_holder {
padding-top: 180px;
}

.search .title .title_holder .container_inner {
margin-top: 50px;
}

.search .title.title_size_large h1 {
color: #000000;
text-align: center;
}

/*=== FOOTER ===*/

.footer_top {
padding: 40px 0 30px;
}

.footer_top a {
color: #378BCA;
}

#recent-posts-10 a {
background: rgba(255,255,255,.6);
padding: 5px;
border-radius: 3px;
}

.footer_top h5 {
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
padding: 10px 0px;
}

.footer_top p, .footer_top span, .footer_top li, .footer_top .textwidget {
color: #3d3d3d;
}

.footer_bottom {
font-size: 15px;
}

/*=== Mailchimp Newsletter Signup Form ===*/

#mc_embed_signup {
background: #939598;
border-radius: 3px;
}

#mc_embed_signup input.email {
display: inline-block;
padding: 8px 0;
margin: 0px 0px 0px 0px !important;
text-indent: 5px;
width: 58%;
min-width: 130px;
border-radius: 3px;
}

#mc_embed_signup input.button {
display: block;
width: 35%;
margin: 10px 10px 10px 0 !important;
min-width: 90px;
background: #378BCA;
font-size: 13px;
font-family: 'ps-regular';
font-weight: normal !importnat;
letter-spacing: 1px;
text-transform: uppercase;
float: left;
position: absolute;
right: 0;
top: 0;
-webkit-transition: .5s all ease-in-out;
-moz-transition: .5s all ease-in-out;
transition: .5s all ease-in-out;
}

#mc_embed_signup input.button:hover {
background: #dcddde;
}

/*=== Holiday Campaign ===*/

.popup.amaze #TB_ajaxContent {
border: 10px solid #e1e1e1 !important;
text-align: center !important;
border-radius: 3px !important;
border: .3em solid #444444;
background-image: none !important;
background-color: #3d3d3d !important;
}

.ig_data {
max-height: 400px !important;
}

.ig_headline {
font-family: 'ps-black';
}

.icegram.popup.amaze .ig_button {
background: rgb(205,85,41) !important;
border-radius: 3px;
color: #fff;
font-family: 'ps-regular';
text-transform: uppercase;
text-shadow: none !important;
word-spacing: 3px;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
-webkit-transition: .5s all ease-in-out;
-moz-transition: .5s all ease-in-out;
transition: .5s all ease-in-out;
margin: 20px auto;
}

.icegram.popup.amaze .ig_button:hover {
background: #dcddde !important;
color: #ffffff !important;
}

/*=== Annual Celebration Campaign ===*/

#icegram_message_20239 .ig_data {
    max-height: none !important;
}

#icegram_message_20239 .ig_message {
    text-align: center;
}

#icegram_message_20239 .ig_message p {
    color: #000;
    margin-bottom: 20px;
}

a.blue_popup_cta {
    display: inline-block;
    background: #1B1B3B;
    padding: 20px;
   margin-bottom: 20px;
border-radius: 5px;
color: #ffffff;
}

a.blue_popup_cta:hover {
color: #ffffff;
}

a.lightblue_popup_cta {
    display: inline-block;
    background: #378BCA;
    padding: 20px;
   margin-bottom: 20px;
border-radius: 5px;
color: #ffffff;
}

/*=== Google Charts Styling ===*/
div.google-visualization-tooltip {
background: rgba(255,255,255,.8);
}

/*=== Legend ===*/

.legend_container p {
display: block;
float: left;
}

.legend_container_projects {
  overflow: auto;
  background: #ffffff;
  padding: 20px 20px 10px;
  width: auto;
}

.legend {
  float: left;
  display:block;
  width:73%;
}

.about_legend.legend {
float: left;
display: block;
padding: 15px 15px 8px;
margin-top: 50px;
border: 1px solid #000000;
width: 98%;
}

.projects_legend.legend {
float: left;
display: block;
padding: 15px 80px 8px 10px;
margin: 0px 0px 20px;
border: 1px solid #000000;
width: auto;
}

.about_legend.legend .legend-item {
margin-right: 60px;
}

.legend .legend-item {
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
}

.legend-data {
  float: left;
  display: inline-block;
  clear: right;
  display: block;
}

.legend .legend-item:last-child {
  margin-right: 10px;
}
.legend .legend-item .legend-box {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #ccc;
}
.legend .legend-item .legend-box.high {
  background-color: #378BCA;
}
.legend .legend-item .legend-box.country_standard {
  background-color: #68C5BB;
}
.legend .legend-item .legend-box.basic {
  background-color: #272962;
}
.legend .legend-item .legend-box.inadequate {
  background-color: #939598;
}
.legend .legend-item .legend-box.nodata {
  background-color: #DCDDDE;
}
.legend .legend-item .legend-text {
  float: left;
  margin-top: 1px;
}

td.centervertically {
   vertical-align: middle;
}

/*=== Grid ===*/

.twt_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: auto;
    margin: 0 -10px
}

.column_1,
.column_1_2,
.column_1_3,
.column_1_4,
.column_2_3,
.column_3_4 {
    position: relative;
    margin: 0 0 20px;
    padding: 0 10px;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}

.column_1 img,
.column_1_2 img,
.column_1_3 img,
.column_1_4 img,
.column_2_3 img,
.column_3_4 img {
    display: block
}

.column_1 {
    width: 100%
}

.column_1_2 {
    width: 50%
}

@media all and (max-width:568px) {
    .column_1_2 {
        width: 100%
    }
}

.column_1_3 {
    width: 33.33%
}

@media all and (max-width:568px) {
    .column_1_3 {
        width: 100%
    }
}

.column_1_4 {
    width: 25%
}

@media all and (max-width:568px) {
    .column_1_4 {
        width: 100%
    }
}

.stretch_height {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}



